
.component-day {
  display:flex;
  flex-direction:column;
  position:relative;
  background:linear-gradient(to bottom, #fafafb 0%, #f7f7f8 100%);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  width: calc(14.2857142857143%); // 1/7th

  > .number {
    position:absolute;
    top:10px;
    right:10px;
    font-size:32px;
    user-select:none;
    cursor:default;
  }

  &.out-of-focus {
    background:#f0f0f0;
    color:rgba(0, 0, 0, 0.5);
  }

  &:hover:not(.out-of-focus) {
    transform: scale(1.08);
    z-index:1;
    box-shadow:0px 0px 3px grey;

    &:active {
      transform: scale(1);
      z-index:-1;
      box-shadow:0px 0px 3px grey inset;
    }
  }
}
