
.component-day {
  outline: 1px solid black;
  width: calc(100% / 7);
  padding:10px;
  background:white;

  > .number {
    float:right;
    font-size:32px;
    user-select:none;
    cursor:default;
  }

  &.out-of-focus {
    background:#f0f0f0;
    color:rgba(0, 0, 0, 0.5);
  }
}
