.component-calendar {
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:stretch;
  height:100%;
  width:100%;
  border:5px solid black;

  > .title-bar {
    flex-grow:0;
    flex-shrink:0;
    font-size:38px;
    font-weight:bold;
    padding:0.5em;
    //background:linear-gradient(to bottom, #03A9F4 0%, #0277BD 100%);
    //color: rgba(255,255,255,1);
    user-select:none;
    cursor:default;
  }
  > .component-month {
    flex-grow:1;
  }
}
