
.component-notes {
  display:inline-flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap:wrap;
  height: 100%;

  > .new-note {
    padding: 20px;

    > .new-note-fields {
      height:0px;
      overflow:hidden;
    }
  }

  > .new-note,
  > .component-note {
    flex-shrink:0;
    flex-grow:0;
    width:300px;
    border:3px solid black;
  }

  &:not(.writing-new-note) {

    > .new-note {
      cursor:pointer;

      &:hover {
        background:#f0f0f0;
      }
    }
  }

  &.writing-new-note {

    > .new-note {

      > .new-note-fields {
        display:flex;
        flex-direction:column;
        align-items:stretch;
        height:200px;

        > * {
          display:block;
          width:100%;
          padding:5px;
          margin-top:5px;
          resize:vertical;
          border:1px solid black;
        }
        > input {
          flex-grow:0;
          flex-shrink:0;
        }
        > textarea {
          flex-grow:1;
          flex-shrink:1;
        }
      }
    }
  }

}
